.pagination > li {
  display: inline-block;
  padding-left: 2px;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #2c689c;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: 0px;
}

.pagination>li.active>a {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

/* Style the active class (and buttons on mouse-over) */
.pagination > li > a:hover {
  background-color:  #63b876;
  color: white;
}

.modal-header {
  overflow-wrap: break-word;
}

.modal-body {
  overflow-wrap: break-word;
  margin-right: 3px;
}

img{
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}