// Here you can add other styles
.nav-dropdown-items {
  margin-left: 10px !important;
}

.sidebar .nav-link.active {
  color: #fff;
  background: #20a8d8 !important;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.position {
  position: relative;
  width:100%;
  max-width:80px;
  display:inline;
}

.imageButton{
  position: absolute;
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  //background-color: #555;
  color: white;
  //font-size: 16px;
  //padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
